code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: $border-code-dark;
    border-radius: 0.3em;
    background: $background-code-dark;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    color: rgb(22, 21, 21);
}

pre {
    padding: 0 1em;
    border: $border-code-dark;
    border-radius: 0.3em;
    background: $background-code-dark;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}
