* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 240, 127);
}

.flash-region {
    grid-column: 1/1;
    width: 900px;
    max-height: 50px;
}

.main {
    /* display: flex;
    width: 70%; */
    flex: 1 0 auto;
    padding: 2em;
    overflow: auto;
}

.article {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex: 0 0 auto;
}

.footer {
    min-height: 20%;
}

/* Header */
.site-header {
    flex: 0 0 auto;
    color: #2b2e30;
    padding: 0 2em;
}

.header {
    /* display: flex; */
    justify-content: center;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 500px 500px;
}

.site-header {
    display: grid;
    grid-template-columns: 150px 350px 20px;
    grid-row: 1/2;
    grid-column: 1/2;
    /* display: flex; */
    justify-content: center;
    /* justify-content: space-between; */
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid {
    display: grid;
    grid-template-rows: 250px 100px;
}

.nav {
    display: flex;
    grid-column: 2/2;
    flex-direction: column;
}
.site-header a, .site-header a:visited {
    color: #2b2e30;
}

.header {
    background-color: #8fe73c;
}


/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    /* justify-content: space-between; */
    border-top: 1px solid #222;
}

.footer a {
    color: #222;
}

.footer .fa {
    margin-right: 40px;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}


/* Small devices */

@media (max-width: 767px) {
    #nav {
        clear: both;
        padding: 0;
    }
    #nav ul {
        padding-bottom: 1em;
    }
    #nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    #nav ul li a {
        display: block;
        padding: 0.5em 0;
    }
    .js #nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
    .js #nav-toggle>* {
        vertical-align: middle;
    }
}

/* mobil menu */
.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    -webkit-transition: height 0.5s ease-in !important;
    transition: height 0.5s ease-in !important;
}

#nav {
    padding: 3em 0;
    text-align: right;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

#nav a:hover, #nav-toggle:hover {
    text-decoration: underline;
}

#nav-toggle {
    display: none;
}


/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote { 
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

/* main */

.try-div {
    width: 40%;
    height: 10%;
    background-color: yellow;
}