/* COLORS*/
// Fonts
$font-color: #000;
$font-color-gray: #191b1d;
$font-alternative-color: #fff;
$visited: #820512;

$accent-color: #ee6c4d;

//Background-initial
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
//BAckground Olga
$background-color-body1: #d4e2f4;
$background-header: #325c72;


/* FONTS */
//Families
$alumni: 'Alumni Sans Inline One', sans-serif;
$dosis: 'Dosis', sans-serif;
$pacifico: 'Pacifico', cursive;
$gramond: 'EB Garamond', serif;
